@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


:root {
  --primary: #00ADB5;
  --secondary: #008F95;
  --background: #222831;
  --background-light: #393E46;
  --gray-light: #464C56;
  --title: #f0f0f0;
  --font: #bdc1c6;
  --circle: #1F1F1F;
  --circle-light: #00ADB5;
  --icon: #FFF;
}
