@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary: #e84545;
  --secondary: #b23e55;
  --background: #2b2e4a;
  --background-light: #53354a;
  --gray-light: #89565f;
  --title: #fff;
  --font: #fff;
  --circle: #2b2e4a;
  --circle-light: #d68528;
  --icon: #fff;
}
